body{
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
    margin: 50% 0 0 0;
    position: relative;
    animation: scroll 220s linear forwards;
    font-size:2vw ;
    line-height: 2.5rem;
}

@keyframes scroll {
    from{ top:0;}
    to {top:-7500px}
}